/* @font-face {
    font-family: YuGo;
    src: local(YuGo-Medium),
      url(/path/to/YuGo-Medium.woff2) format("woff2"),
      url(/path/to/YuGo-Medium.woff) format("woff"),
      url(/path/to/YuGo-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family: YuGo;
    src: local(YuGo-Bold),
      url(/path/to/YuGo-Bold.woff2) format("woff2"),
      url(/path/to/YuGo-Bold.woff) format("woff"),
      url(/path/to/YuGo-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  } */
  
  h1 {
    font-family: YuGo;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
  }
  
  h2 {
    font-family: YuGo;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  
  h3 {
    font-family: YuGo;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
  }
  
  big {
    font-family: YuGo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
  }
  
  body {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
  }
  
  caption {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
  }
  
  label {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
  }

.samazon-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.samazon-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.samazon-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.samazon-label-label {
  border-radius: 1px;
  background-color: #0fbe9f;
}

.samazon-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.samazon-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
    color: #ffffff;
    background-color: #0fbe9f;
}

.samazon-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}

.samazon-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.samazon-header-search-input {
  border: solid 1px #e5e5e5;
}

.samazon-header-search-button {
  background-color: #0fbe9f;
}

.samazon-header-search-icon {
  color: #ffffff;
}

.samazon-header-fav-icon {
  color: #191919;
}

.samazon-header-shoppingcart-icon {
  color: #ffffff;
}

.samazon-favorite-button {
  border-radius: 2px;
  border: solid 1px #0fbe9f;
  background-color: #ffffff;
}

.text-favorite {
  color: #0fbe9f;
}

.samazon-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-family: YuGo;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}

.samazon-favorite-add-cart {
  border-radius: 2px;
  background-color: #0fbe9f;
}

.review-score-color {
  color: #0fbe9f;
}

.review-score-color:focus {
  color: #0fbe9f;
}

.dashboard-edit-link {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0fbe9f;
}

.dashboard-delete-link {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}

.h-10 {
  height: 10%!important;
}

.w-20 {
  width: 20%!important;
}

.w-80 {
  width: 80%!important;
}

.samazon-delete-submit-button {
  border-radius: 2px;
  background-color: #d94b0e;
}

.samazon-event-title {
  padding: 1rem 2rem;
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  Word-break:break-all;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  text-align: center;
  background: #0fbe9f;
}

.samazon-border-comment {
  padding: 1rem 2rem;
  border: 2px solid #b2b2b2;
}


ul {
  text-align: left;
  padding-top: 15px;
  padding-left: 15px;
  list-style-type: none; 
  margin-bottom: 0;
}

ul li {
  margin-bottom: 1em;
}

ul li input[type="radio"] + label {
  font-size: 1.125em;
  font-weight: 300;
  cursor: pointer; 
}

ul li input[type="radio"] + label:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 12px;
  color: transparent;
  padding: 3px;
  background-color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: 1px;
}

ul li input[type="radio"]:checked + label:before {
  background-color: #0fbe9f;
  color: white; 
}

input[type="radio"] {
  display: none; 
}

/* パンくずリスト */
.breadcrumb {
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  background-color:white
}

.breadcrumb li {
  display: inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {
  /* ▶を表示*/
  font-family: FontAwesome;
  content: '\f0da';
  padding: 0 0.3em;
  color: #0fbe9f;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  display: inline-block;
  padding: 0.2em 0.8em;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background: #0fbe9f;
  font-size: 0.9em;
  pointer-events: none
}

.breadcrumb-gray li a {
  display: inline-block;
  padding: 0.2em 0.8em;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background: #d7d7d7;
  font-size: 0.9em;
  pointer-events: none
}

/*.breadcrumb li a:hover {
  background: #c9dbfb;
}*/

/* パンくずリスト */

/* ローディング */
/* ローディング画面 */

#loading {
    display: none;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
/*  background-color: #0bd; */
  background-color: #0fbe9f;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
 
/* コンテンツ部分の装飾 */
.gallery {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
/*  background-color: #0bd; */
  background-color: #0fbe9f;
 
/* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
/* ローディング */

.h1-coler {
  color: #0fbe9f;
}

/* 契約書ヘッダー */
.contracts-headline {
  background-color: #dcdcdc;
  height: 30px;
}
